* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sarala', sans-serif;
}

body {
  background-image: url("assets/plate.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 320px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  background-color: antiquewhite;
  padding: 20px;
  box-shadow: 0 0 10px 0 black;
  transition: all 0.3s;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  ;
}

ul {
  list-style: none;
}

label {
  border-bottom: 2px solid rgba(155, 155, 155, 0.5);
  padding: 5px;
  display: flex;
  gap: 10px;
}

.buttons {
  border: 1px solid black;
  padding: 3px;
}

input.buttons {
  background-color: rgb(246, 211, 166);
}

button.buttons {
  background-color: chocolate;
  width: 80px;
  color: white;
}

#all-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+span::before {
  content: "X";
  margin-right: 10px;
}

input[type="checkbox"]+span::before {
  content: "_";
  margin-right: 10px;
  background-color: aqua;
}
*/