* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Acme', sans-serif;
}

#main {
  min-width: 360px;
  min-height: 100vh;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 98vw;
  height: 80vh;
  border: 2px solid rgba(100, 100, 100, 0.5);
  perspective: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  padding: 100px 100px 0 0;
  transition: all 0.1s;
}

.active {
  transform: scale(1.01);
  background-color: rgba(255, 255, 255, 0.4);
}

.cards {
  height: 80%;
  width: 200px;
  border: 5px solid rgba(128, 128, 128, 0.33);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5)
}

.cards:nth-child(even) {
  transform: scaleX(1.33) rotateY(40deg);
}

.cards:nth-child(odd) {
  transform: scaleX(1.33) rotateY(-40deg);
}

.cards:nth-child(6n + 1) {
  background-color: darkslateblue;
}

.cards:nth-child(6n + 2) {
  background-color: goldenrod;
}

.cards:nth-child(6n + 3) {
  background-color: rebeccapurple;
}

.cards:nth-child(6n + 4) {
  background-color: lightcoral;
}

.cards:nth-child(6n + 5) {
  background-color: tomato;
}

.cards:nth-child(6n + 6) {
  background-color: cadetblue;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 155, 155, 1);
  border-radius: 20px;
  border: transparent;
}